<h1>Restaurants検索</h1>

<div class="row">
  <div class="col-xs-12">
    <div class="form-group">
      <%= form_tag(search_path, method: 'get', class: 'form-inline') do %>
        <%= text_field_tag 'q', params[:q], class:'form-control' %>
        <%= submit_tag '検索', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-xs-8">
    <% @restaurants.each do |restaurant| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= link_to "#{restaurant.name} - #{restaurant.property}", detail_path(id: restaurant.id) %>
          <small class="pull-right">
            <%= restaurant.alphabet %>
            <%= restaurant.name_kana %>
          </small>
        </div>
        <div class="panel-body">
          <%= restaurant.pref.name if restaurant.pref %>
          <%= restaurant.area.name if restaurant.area %>
          <%= restaurant.zip %>
          <%= restaurant.address %>
          <%= restaurant.description %>
        </div>
      </div>
    <% end %>

    <%#= paginate @restaurants %>

  </div>
  <div class="col-xs-4">
    <div class="list-group">
      <% @pref_facets.each do |pref, count| %>
        <a href="#" class="list-group-item">
          <%= pref %>
          <span class="badge"><%= count %></span>
        </a>
      <% end %>
    </div>
  </div>
</div>

